<section class="container-fluid" ng-init="test">
  <input type="button" ng-click="testing()" value="Do It!" />
  <input type="file" id="exampleInputFile" file-model="costumer.file">
  {{costumer.file.name}}
  <!--<div class="container-fluid table-responsive" ng-repeat="item in items">
    <h2>{{item.name}}</h2>
    <table class="table table-hover container-fluid">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Path</th> 
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in item.items">
          <td>{{data.fecha}}</td>
          <td>{{data.PATH}}</td> 
          <td>{{data.COMENT}}</td>
        </tr>
      </tbody>
    </table>
  </div>-->
</section>
<ul class="nav nav-pills">
  <li ng-class="{'active': $index == stateTemp}" ng-repeat="item in test track by $index" ng-click="changeStateTable($index)"><a>{{item.name}}</a></li>
</ul>
<div class="tab-content">
  <div class="container-fluid table-responsive" ng-repeat="item in test track by $index" id="{{$index}}" class="tab-pane fade in active" ng-if="$index == stateTemp">
    <h2>{{item.name}}</h2>
    <table class="table table-hover container-fluid">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Path</th> 
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in item.items">
          <td>{{data.fecha}}</td>
          <td>{{data.PATH}}</td> 
          <td>{{data.COMENT}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>