<div>
    
        <div class="modal-header">
            <h3 class="modal-title">{{ item.name }}</h3>
        </div>
        <div class="modal-body">
            <form>
                <fieldset class="form-group">
                    <label for="formGroupExampleInput">New Path</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" ng-model="tempPath">
                </fieldset>
                <fieldset class="form-group">
                    {{tempDate}}
                    <h4>New Date</h4>
                    <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="tempDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleTextarea">New Comment</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="tempComment"></textarea>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</div>